
section{
  background: #2d2a25;
  font-family: 'Lato', sans-serif;
  color: #6c8b99;
  p{
    display: inline-flex;
    font-size: 16px;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    i{
      color: #f84b3a
      ;
      padding-right: 5px;
    }
  }
  
}